/* custom styles */

html {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9vw;
}

h2 {
    /*background-color: #222;*/
    height: 30px;
    color: black; 
    font-weight: 500;
    font-size: 1.5vw;
    padding: 0px;
    text-transform: none !important;
  }

h3 {
    color: black;
    color: #999999; 
    font-size: 0.9vw;
    padding-left: 10px;
}

h4 {
    text-transform: none !important;
}
body {
    background-color:#f0f0ef;
    padding: 0px;
  }

img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}  

.panel {
    display: inline-block;
    height: 100%;
    margin: 20px;
    padding: 0px;
}  

.container {
    margin-top: 20px;
}
/*
p.social {
    margin-top: 20px;
  }
  p.social a {
    margin: 0 10px 10px 0;
    color: #fff;
    display: inline-block;
    width: 2.4vw;
    height: 5vh;
    border-radius: 2rem;
    line-height: 40px;
    text-align: center;
    vertical-align: bottom;
    border: solid 1px #999999;
    color: #999999;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
*/
  .fa {
    color: #999999;  
    
    font-size: 0.9vw;
    width: 2rem;
    text-align: center;
    text-decoration: none;
    margin: 0 !important;
}

.portfolio {
    display: inline-block;
    text-align: center;
    margin: auto;
}  

/*
.showcase-tile {
    display: inline-block;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    padding: 5px;
    margin: 10px;
    margin-bottom: 20px;
    width: 105%;
    height: 80%
}
*/

#main {
    width: 65vw;
    vertical-align: middle;
    margin: auto;
}

#portrait {
    width: 60%;
}

.box-masonry .box-masonry-image{
    background: white !important;
}